<?xml version="1.0"?>
<config>
    <modules>
        <YSRTech_CardingPrevention>
            <version>1.0.0</version>
        </YSRTech_CardingPrevention>
    </modules>
    <global>
        <blocks>
            <cardingprevention>
                <class>YSRTech_CardingPrevention_Block</class>
            </cardingprevention>
        </blocks>
        <helpers>
            <cardingprevention>
                <class>YSRTech_CardingPrevention_Helper</class>
            </cardingprevention>
        </helpers>
        <models>
            <cardingprevention>
                <class>YSRTech_CardingPrevention_Model</class>
            </cardingprevention>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_saveorder>
                <observers>
                    <cardingprevention_saveorder>
                        <class>cardingprevention/observer</class>
                        <method>throttleOrderPlacement</method>
                    </cardingprevention_saveorder>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveorder>
            <controller_action_predispatch_checkout_onepage_savepayment>
                <observers>
                    <cardingprevention_savepayment>
                        <class>cardingprevention/observer</class>
                        <method>throttlePaymentSave</method>
                    </cardingprevention_savepayment>
                </observers>
            </controller_action_predispatch_checkout_onepage_savepayment>
            <controller_action_predispatch_customer_account_loginpost>
                <observers>
                    <cardingprevention_login>
                        <class>cardingprevention/observer</class>
                        <method>throttleLogin</method>
                    </cardingprevention_login>
                </observers>
            </controller_action_predispatch_customer_account_loginpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <cardingprevention_forgotpassword>
                        <class>cardingprevention/observer</class>
                        <method>throttleLogin</method>
                    </cardingprevention_forgotpassword>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <!-- Digitalpianism AjaxLogin, if installed; harmless when it is not -->
            <controller_action_predispatch_ajaxlogin_index_login>
                <observers>
                    <cardingprevention_ajaxlogin>
                        <class>cardingprevention/observer</class>
                        <method>throttleLogin</method>
                    </cardingprevention_ajaxlogin>
                </observers>
            </controller_action_predispatch_ajaxlogin_index_login>
            <customer_login>
                <observers>
                    <cardingprevention_login_success>
                        <class>cardingprevention/observer</class>
                        <method>resetOnLogin</method>
                    </cardingprevention_login_success>
                </observers>
            </customer_login>
            <!-- TM FireCheckout, if installed; harmless when it is not -->
            <controller_action_predispatch_firecheckout_index_saveorder>
                <observers>
                    <cardingprevention_fc_saveorder>
                        <class>cardingprevention/observer</class>
                        <method>throttleOrderPlacement</method>
                    </cardingprevention_fc_saveorder>
                </observers>
            </controller_action_predispatch_firecheckout_index_saveorder>
            <checkout_onepage_controller_success_action>
                <observers>
                    <cardingprevention_success>
                        <class>cardingprevention/observer</class>
                        <method>resetOnSuccess</method>
                    </cardingprevention_success>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <layout>
            <updates>
                <cardingprevention>
                    <file>ysrtech_cardingprevention.xml</file>
                </cardingprevention>
            </updates>
        </layout>
        <translate>
            <modules>
                <YSRTech_CardingPrevention>
                    <files>
                        <default>YSRTech_CardingPrevention.csv</default>
                    </files>
                </YSRTech_CardingPrevention>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cardingprevention>
                                            <title>Carding Prevention</title>
                                        </cardingprevention>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <YSRTech_CardingPrevention>
                    <files>
                        <default>YSRTech_CardingPrevention.csv</default>
                    </files>
                </YSRTech_CardingPrevention>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <cardingprevention>
            <general>
                <enabled>1</enabled>
                <action>block</action>
                <log_only>0</log_only>
                <trust_cf_header>1</trust_cf_header>
                <whitelist_ips></whitelist_ips>
                <log_enabled>1</log_enabled>
            </general>
            <limits>
                <order_attempts_session>3</order_attempts_session>
                <order_attempts_ip>5</order_attempts_ip>
                <payment_attempts_ip>12</payment_attempts_ip>
                <login_attempts_ip>15</login_attempts_ip>
                <window_minutes>60</window_minutes>
                <block_minutes>60</block_minutes>
            </limits>
            <breaker>
                <enabled>1</enabled>
                <orders_per_window>10</orders_per_window>
                <challenge_minutes>120</challenge_minutes>
                <payment_form_selector>#co-payment-form,#checkout-payment-method-load form,.firecheckout-payment form</payment_form_selector>
            </breaker>
        </cardingprevention>
    </default>
</config>
